%is-offcanvas {
  margin-left: -8rem;
  margin-right: 8rem;
}

// state of body when js event listener triggers
.is-offcanvas {
  @extend %is-offcanvas;
  transition: 400ms all ease;
}


.nav-menu {
  list-style-type: none;
  position: fixed;
  right: -8rem;
  margin: 0;
  padding: 0;
  @include mq(ns) {
    right: 0;
    position: relative;
  }

  &__item {
    display: block;
    margin: 1rem;
    @include mq(ns) {
      display: inline-block;
      margin: 0 .5rem;
    }
  }

  &__link {
    @include mq(ns) {
      color: $white;
    }
    color: $near-black;
    transition: 400ms all ease;
  }

  &__toggle {
    @include mq(ns) {
      display: none;
    }
    user-select: none;
    color: $white;
    padding: 1rem;
    transition: 400ms all ease;
    &.is-offcanvas {
      @extend %is-offcanvas;
    }
  }

  @include mq(ns) {
    display: block;
  }
// state of nav menu when js listener triggers
  &__open {
    position: fixed;
    right: 0;
    width: 8rem;
    height: 100%;
    top: 0;
  }


}
